@import "tailwindcss";

@theme {
  --animate-slideIn: slideIn .5s ease-in-out forwards;
  @keyframes slideIn {
    0%{
      opacity:0;
      transform: translate(-20px)
    }
    100% {
      opacity:1;
      transform: translateX(0);
    }
  }


  --animate-fadeInOpacity: fadeInOpacity .4s ease-in-out forwards;
  @keyframes fadeInOpacity {
    0%{
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

}



html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

h1, h2,h3{
  font-family: var(--font-display)
}



img{
  display:block;
  max-width: 100%;
  height: auto;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.125rem;
  @media (min-width: 1208px) and (max-width:1305px) {
    max-width: 74rem; /* menor padding no sm */
  }
  @media (max-width: 677px){
    width: 90%;
  }
  @media (max-width: 450px) {
    padding-inline: 1rem; /* menor padding no sm */
  } 
}

.menu-active::after{
transform: rotate(90deg);
width: 4px;
height: 4px;
}

@layer utilities {
  .card-sombra {
    box-shadow:
      10px 10px 10px 0px rgba(0, 0, 0, 0.15),
      inset -10px -10px 10px 0px #FFF,
      inset -10px -10px 10px 0px #FFF,
      10px 10px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .card-sombra-button {
    box-shadow:
      3px 3px 3px 0px rgba(0, 0, 0, 0.1),
      3px 3px 3px 0px rgba(0, 0, 0, 0.1);
  }
}



